<!DOCTYPE html>
<html>
	<head>
		<title>Assigment on HTML and Rails Website</title>
	</head>
<body style="background: url(<%= asset_path 'bg.jpg' %>)">
	<header> 
	<%= image_tag "banner.png" %>
	</header>
	<%= link_to "About Us", about_path %>
	<br>
	<h1 style="text-align: center; color: white; font-family: verdana"> Welcome Page </h1><br>
	<p style="margin-left: 10%; margin-right: 10%; color: white; text-align: justify;"> Hello welcome to my web page and web application based on the Ruby on Rails (ROR) framework, working on my local server. This is my first application and ugly af. Im trying my best to learn more about ROR and im enjoying it.
	ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.
	Hello welcome to my web page and web application based on the Ruby on Rails (ROR) framework, working on my local server. This is my first application and ugly af.
	ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.
	 Im trying my best to learn more about ROR and im enjoying it.
	Hello welcome to my web page and web application based on the Ruby on Rails (ROR) framework, working on my local server. This is my first application and ugly af. Im trying my best to learn more about ROR and im enjoying it ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.
	Hello welcome to my web page and web application based on the Ruby on Rails (ROR) framework, working on my local server. This is my first application and ugly af. Im trying my best to learn more about ROR and im enjoying it.
	ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.
	Hello welcome to my web page and web application based on the Ruby on Rails (ROR) framework, working on my local server. This is my first application and ugly af. Im trying my best to learn more about ROR and im enjoying it
	ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify..
	Hello welcome to my web page and web application based on the Ruby on Rails (ROR) framework, working on my local server. This is my first application and ugly af. Im trying my best to learn more about ROR and im enjoying it.
	ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.ROR is best framework working on Ruby language and its widely used in top notch websites like twitter and shopify.
	</p>
	<br><br>
	<br><br><br><br><br>
	<footer style="margin-left: 10%; margin-right: 10%; color: white; text-align: center;">All right reserved, created by Kaleemullah Qasim with Rails Framework.</footer>

</body>
</html>